# Regression Predict Student Solution

© Explore Data Science Academy

---
### Honour Code

We {**TEAM ZF1**}, confirm - by submitting this document - that the solutions in this notebook are a result of my own work and that I abide by the [EDSA honour code](https://drive.google.com/file/d/1QDCjGZJ8-FmJE3bZdIQNwnJyQKPhHZBn/view?usp=sharing).

Non-compliance with the honour code constitutes a material breach of contract.

### Predict Overview: Spain Electricity Shortfall Challenge

The government of Spain is considering an expansion of it's renewable energy resource infrastructure investments. As such, they require information on the trends and patterns of the countries renewable sources and fossil fuel energy generation. Your company has been awarded the contract to:

- 1. analyse the supplied data;
- 2. identify potential errors in the data and clean the existing data set;
- 3. determine if additional features can be added to enrich the data set;
- 4. build a model that is capable of forecasting the three hourly demand shortfalls;
- 5. evaluate the accuracy of the best machine learning model;
- 6. determine what features were most important in the model’s prediction decision, and
- 7. explain the inner working of the model to a non-technical audience.

Formally the problem statement was given to you, the senior data scientist, by your manager via email reads as follow:

> In this project you are tasked to model the shortfall between the energy generated by means of fossil fuels and various renewable sources - for the country of Spain. The daily shortfall, which will be referred to as the target variable, will be modelled as a function of various city-specific weather features such as `pressure`, `wind speed`, `humidity`, etc. As with all data science projects, the provided features are rarely adequate predictors of the target variable. As such, you are required to perform feature engineering to ensure that you will be able to accurately model Spain's three hourly shortfalls.
 
On top of this, she has provided you with a starter notebook containing vague explanations of what the main outcomes are.

<a id="cont"></a>

## Table of Contents

<a href=#one>1. Importing Packages</a>

<a href=#two>2. Loading Data</a>

<a href=#three>3. Exploratory Data Analysis (EDA)</a>

<a href=#four>4. Data Engineering</a>

<a href=#five>5. Modeling</a>

<a href=#six>6. Model Performance</a>

<a href=#seven>7. Model Explanations</a>

 <a id="one"></a>
## 1. Importing Packages
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Importing Packages ⚡ |
| :--------------------------- |
| In this section you are required to import, and briefly discuss, the libraries that will be used throughout your analysis and modelling. |

---

In [22]:
# Libraries for data loading, data manipulation and data visulisation
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('fivethirtyeight')
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

# Libraries for data preparation and model building
from sklearn.linear_model import LinearRegression

# print multiple outputs in a cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

# Setting global constants to ensure notebook results are reproducible
# PARAMETER_CONSTANT = ###

<a id="two"></a>
## 2. Loading the Data
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Loading the data ⚡ |
| :--------------------------- |
| In this section you are required to load the data from the `df_train` file into a DataFrame. |

---

In [148]:
df1 = pd.read_csv("df_train.csv")
print(f"There are {df1.shape[0]} rows and {df1.shape[1]} columns")
df1.head(2)
print('', end="\n\n")

# Remove unnecessary column(s)

col_except1 = "Unnamed: 0"
df_train = df1.loc[:, df1.columns != col_except]
print(f"There are {df_train.shape[0]} rows and {df_train.shape[1]} columns")
df_train.head(10).T
print('', end="\n\n")

There are 8763 rows and 49 columns

,Unnamed: 0,time,Madrid_wind_speed,Valencia_wind_deg,Bilbao_rain_1h,Valencia_wind_speed,Seville_humidity,Madrid_humidity,Bilbao_clouds_all,Bilbao_wind_speed,...,Madrid_temp_max,Barcelona_temp,Bilbao_temp_min,Bilbao_temp,Barcelona_temp_min,Bilbao_temp_max,Seville_temp_min,Madrid_temp,Madrid_temp_min,load_shortfall_3h
0,0,2015-01-01 03:00:00,0.666667,level_5,0.0,0.666667,74.333333,64.000000,0.0,1.0,...,265.938000,281.013000,269.338615,269.338615,281.013000,269.338615,274.254667,265.938000,265.938000,6715.666667
1,1,2015-01-01 06:00:00,0.333333,level_10,0.0,1.666667,78.333333,64.666667,0.0,1.0,...,266.386667,280.561667,270.376000,270.376000,280.561667,270.376000,274.945000,266.386667,266.386667,4171.666667

There are 8763 rows and 48 columns

,0,1,2,3,4,5,6,7,8,9
time,2015-01-01 03:00:00,2015-01-01 06:00:00,2015-01-01 09:00:00,2015-01-01 12:00:00,2015-01-01 15:00:00,2015-01-01 18:00:00,2015-01-01 21:00:00,2015-01-02 00:00:00,2015-01-02 03:00:00,2015-01-02 06:00:00
Madrid_wind_speed,0.666667,0.333333,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
Valencia_wind_deg,level_5,level_10,level_9,level_8,level_7,level_7,level_8,level_9,level_9,level_9
Bilbao_rain_1h,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Valencia_wind_speed,0.666667,1.666667,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.333333
Seville_humidity,74.333333,78.333333,71.333333,65.333333,59.0,69.666667,83.666667,83.666667,86.0,87.0
Madrid_humidity,64.0,64.666667,64.333333,56.333333,57.0,67.333333,63.333333,64.0,63.333333,63.666667
Bilbao_clouds_all,0.0,0.0,0.0,0.0,2.0,12.333333,16.333333,8.666667,5.333333,15.333333
Bilbao_wind_speed,1.0,1.0,1.0,1.0,0.333333,0.666667,1.0,1.333333,1.0,1.0
Seville_clouds_all,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Bilbao_wind_deg,223.333333,221.0,214.333333,199.666667,185.0,191.333333,210.333333,238.666667,258.333333,255.333333
Barcelona_wind_speed,6.333333,4.0,2.0,2.333333,4.333333,4.666667,3.333333,2.0,1.666667,1.0
Barcelona_wind_deg,42.666667,139.0,326.0,273.0,260.0,254.666667,276.0,310.0,338.0,329.0
Madrid_clouds_all,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Seville_wind_speed,3.333333,3.333333,2.666667,4.0,3.0,2.666667,2.0,2.333333,3.0,3.0
Barcelona_rain_1h,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Seville_pressure,sp25,sp25,sp25,sp25,sp25,sp25,sp25,sp25,sp25,sp25
Seville_rain_1h,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Bilbao_snow_3h,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Barcelona_pressure,1036.333333,1037.333333,1038.0,1037.0,1035.0,1035.666667,1038.0,1037.666667,1037.333333,1038.333333
Seville_rain_3h,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Madrid_rain_1h,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Barcelona_rain_3h,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Valencia_snow_3h,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Madrid_weather_id,800.0,800.0,800.0,800.0,800.0,800.0,800.0,800.0,800.0,800.0
Barcelona_weather_id,800.0,800.0,800.0,800.0,800.0,800.0,800.0,800.0,800.0,800.0
Bilbao_pressure,1035.0,1035.666667,1036.0,1036.0,1035.333333,1035.666667,1036.0,1036.0,1036.666667,1037.0
Seville_weather_id,800.0,800.0,800.0,800.0,800.0,800.0,800.0,800.0,800.0,800.0
Valencia_pressure,1002.666667,1004.333333,1005.333333,1009.0,NaN,NaN,1006.0,1005.666667,1005.333333,1006.333333
Seville_temp_max,274.254667,274.945,278.792,285.394,285.513719,282.077844,277.637,276.457333,276.151667,276.453
Madrid_pressure,971.333333,972.666667,974.0,994.666667,1035.333333,1013.333333,974.333333,974.666667,974.333333,975.333333
Valencia_temp_max,269.888,271.728333,278.008667,284.899552,283.015115,277.622563,272.270333,271.040667,270.535,271.661333
Valencia_temp,269.888,271.728333,278.008667,284.899552,283.015115,277.622563,272.270333,271.040667,270.535,271.661333
Bilbao_weather_id,800.0,800.0,800.0,800.0,800.0,800.666667,800.666667,800.333333,800.0,801.0
Seville_temp,274.254667,274.945,278.792,285.394,285.513719,282.077844,277.637,276.457333,276.151667,276.453
Valencia_humidity,75.666667,71.0,65.666667,54.0,58.333333,72.666667,83.333333,82.0,80.666667,75.333333
Valencia_temp_min,269.888,271.728333,278.008667,284.899552,283.015115,277.622563,272.270333,271.040667,270.535,271.661333
Barcelona_temp_max,281.013,280.561667,281.583667,283.434104,284.213167,284.165625,283.420333,282.474,281.726667,281.803
Madrid_temp_max,265.938,266.386667,272.708667,281.895219,280.678437,274.639229,268.287,266.882333,266.226667,266.878
Barcelona_temp,281.013,280.561667,281.583667,283.434104,284.213167,284.165625,283.420333,282.474,281.726667,281.803
Bilbao_temp_min,269.338615,270.376,275.027229,281.135063,282.252063,277.919,274.295437,272.903167,271.780115,271.673667
Bilbao_temp,269.338615,270.376,275.027229,281.135063,282.252063,277.919,274.295437,272.903167,271.780115,271.673667
Barcelona_temp_min,281.013,280.561667,281.583667,283.434104,284.213167,284.165625,283.420333,282.474,281.726667,281.803
Bilbao_temp_max,269.338615,270.376,275.027229,281.135063,282.252063,277.919,274.295437,272.903167,271.780115,271.673667
Seville_temp_min,274.254667,274.945,278.792,285.394,285.513719,282.077844,277.637,276.457333,276.151667,276.453
Madrid_temp,265.938,266.386667,272.708667,281.895219,280.678437,274.639229,268.287,266.882333,266.226667,266.878
Madrid_temp_min,265.938,266.386667,272.708667,281.895219,280.678437,274.639229,268.287,266.882333,266.226667,266.878
load_shortfall_3h,6715.666667,4171.666667,4274.666667,5075.666667,6620.666667,6842.0,10760.333333,10866.0,-1850.333333,-4002.333333

<a id="three"></a>
## 3. Exploratory Data Analysis (EDA)
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Exploratory data analysis ⚡ |
| :--------------------------- |
| In this section, you are required to perform an in-depth analysis of all the variables in the DataFrame. |

---

### 3.0. Define functions

In [138]:
# descride variable including mode and median

def describe(df):
    d = {0:[df.mean(), df.median(), df.mode()[0]]}
    dat = pd.DataFrame(data=d).rename(index={0: "Mean", 1: "Median", 2: "Mode"})
    return pd.concat([df.describe(), dat])

### 3.1. Train data

In [190]:
# Data comprehension

print(f"There are {df_train.isnull().sum().sum()} null values")
df_train.isnull().sum()
print('', end="\n\n")

describe(df_train["Valencia_pressure"])

# Deal with null containing column(s)

df_train_clean = df_train.copy()
df_train_clean["Valencia_pressure"] = df_train_clean["Valencia_pressure"].fillna(df_train_clean["Valencia_pressure"].mode()[0])
print('', end="\n\n")

print(f"There are {df_train_clean.isnull().sum().sum()} null values")
df_train_clean.isnull().sum()
print('', end="\n\n")

describe(df_train_clean["Valencia_pressure"])
print('', end="\n\n")

# Sort columns to show each city variable together

df_train_clean_sort = df_train_clean[sorted(df_train_clean)]
df_train_clean_sort.info()
print(f"There are 5 cities; Barcelona, Bilbao, Madrid, Seville, Valencia", end="\n"
     "There are 5 variables reoccuring across all cities; Pressure, temp, temp_max, temp_min, wind_speed")
print('', end="\n\n\n")

# Convert object dtypes to float

# date
df_train_clean_sort["time"] = pd.to_datetime(df_train_clean_sort["time"])
print("Time column has been converted to")
print(df_train_clean_sort["time"].dtypes)
print('', end="\n\n")


print(f"Univariable non-Graphical Analysis")
# df_train_sort.describe().T

There are 2068 null values

time                       0
Madrid_wind_speed          0
Valencia_wind_deg          0
Bilbao_rain_1h             0
Valencia_wind_speed        0
Seville_humidity           0
Madrid_humidity            0
Bilbao_clouds_all          0
Bilbao_wind_speed          0
Seville_clouds_all         0
Bilbao_wind_deg            0
Barcelona_wind_speed       0
Barcelona_wind_deg         0
Madrid_clouds_all          0
Seville_wind_speed         0
Barcelona_rain_1h          0
Seville_pressure           0
Seville_rain_1h            0
Bilbao_snow_3h             0
Barcelona_pressure         0
Seville_rain_3h            0
Madrid_rain_1h             0
Barcelona_rain_3h          0
Valencia_snow_3h           0
Madrid_weather_id          0
Barcelona_weather_id       0
Bilbao_pressure            0
Seville_weather_id         0
Valencia_pressure       2068
Seville_temp_max           0
Madrid_pressure            0
Valencia_temp_max          0
Valencia_temp              0
Bilbao_weather_id          0
Seville_temp               0
Valencia_humidity          0
Valencia_temp_min          0
Barcelona_temp_max         0
Madrid_temp_max            0
Barcelona_temp             0
Bilbao_temp_min            0
Bilbao_temp                0
Barcelona_temp_min         0
Bilbao_temp_max            0
Seville_temp_min           0
Madrid_temp                0
Madrid_temp_min            0
load_shortfall_3h          0
dtype: int64

                  0
count   6695.000000
mean    1012.051407
std        9.506214
min      972.666667
25%     1010.333333
50%     1015.000000
75%     1018.000000
max     1021.666667
Mean    1012.051407
Median  1015.000000
Mode    1018.000000

There are 0 null values

time                    0
Madrid_wind_speed       0
Valencia_wind_deg       0
Bilbao_rain_1h          0
Valencia_wind_speed     0
Seville_humidity        0
Madrid_humidity         0
Bilbao_clouds_all       0
Bilbao_wind_speed       0
Seville_clouds_all      0
Bilbao_wind_deg         0
Barcelona_wind_speed    0
Barcelona_wind_deg      0
Madrid_clouds_all       0
Seville_wind_speed      0
Barcelona_rain_1h       0
Seville_pressure        0
Seville_rain_1h         0
Bilbao_snow_3h          0
Barcelona_pressure      0
Seville_rain_3h         0
Madrid_rain_1h          0
Barcelona_rain_3h       0
Valencia_snow_3h        0
Madrid_weather_id       0
Barcelona_weather_id    0
Bilbao_pressure         0
Seville_weather_id      0
Valencia_pressure       0
Seville_temp_max        0
Madrid_pressure         0
Valencia_temp_max       0
Valencia_temp           0
Bilbao_weather_id       0
Seville_temp            0
Valencia_humidity       0
Valencia_temp_min       0
Barcelona_temp_max      0
Madrid_temp_max         0
Barcelona_temp          0
Bilbao_temp_min         0
Bilbao_temp             0
Barcelona_temp_min      0
Bilbao_temp_max         0
Seville_temp_min        0
Madrid_temp             0
Madrid_temp_min         0
load_shortfall_3h       0
dtype: int64

                  0
count   8763.000000
mean    1013.455228
std        8.684485
min      972.666667
25%     1012.666667
50%     1017.000000
75%     1018.000000
max     1021.666667
Mean    1013.455228
Median  1017.000000
Mode    1018.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8763 entries, 0 to 8762
Data columns (total 48 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Barcelona_pressure    8763 non-null   float64
 1   Barcelona_rain_1h     8763 non-null   float64
 2   Barcelona_rain_3h     8763 non-null   float64
 3   Barcelona_temp        8763 non-null   float64
 4   Barcelona_temp_max    8763 non-null   float64
 5   Barcelona_temp_min    8763 non-null   float64
 6   Barcelona_weather_id  8763 non-null   float64
 7   Barcelona_wind_deg    8763 non-null   float64
 8   Barcelona_wind_speed  8763 non-null   float64
 9   Bilbao_clouds_all     8763 non-null   float64
 10  Bilbao_pressure       8763 non-null   float64
 11  Bilbao_rain_1h        8763 non-null   float64
 12  Bilbao_snow_3h        8763 non-null   float64
 13  Bilbao_temp           8763 non-null   float64
 14  Bilbao_temp_max       8763 non-null   float64
 15  Bilbao_temp_min       8763 non-null   float64
 16  Bilbao_weather_id     8763 non-null   float64
 17  Bilbao_wind_deg       8763 non-null   float64
 18  Bilbao_wind_speed     8763 non-null   float64
 19  Madrid_clouds_all     8763 non-null   float64
 20  Madrid_humidity       8763 non-null   float64
 21  Madrid_pressure       8763 non-null   float64
 22  Madrid_rain_1h        8763 non-null   float64
 23  Madrid_temp           8763 non-null   float64
 24  Madrid_temp_max       8763 non-null   float64
 25  Madrid_temp_min       8763 non-null   float64
 26  Madrid_weather_id     8763 non-null   float64
 27  Madrid_wind_speed     8763 non-null   float64
 28  Seville_clouds_all    8763 non-null   float64
 29  Seville_humidity      8763 non-null   float64
 30  Seville_pressure      8763 non-null   object
 31  Seville_rain_1h       8763 non-null   float64
 32  Seville_rain_3h       8763 non-null   float64
 33  Seville_temp          8763 non-null   float64
 34  Seville_temp_max      8763 non-null   float64
 35  Seville_temp_min      8763 non-null   float64
 36  Seville_weather_id    8763 non-null   float64
 37  Seville_wind_speed    8763 non-null   float64
 38  Valencia_humidity     8763 non-null   float64
 39  Valencia_pressure     8763 non-null   float64
 40  Valencia_snow_3h      8763 non-null   float64
 41  Valencia_temp         8763 non-null   float64
 42  Valencia_temp_max     8763 non-null   float64
 43  Valencia_temp_min     8763 non-null   float64
 44  Valencia_wind_deg     8763 non-null   object
 45  Valencia_wind_speed   8763 non-null   float64
 46  load_shortfall_3h     8763 non-null   float64
 47  time                  8763 non-null   object
dtypes: float64(45), object(3)
memory usage: 3.2+ MB
There are 5 cities; Barcelona, Bilbao, Madrid, Seville, Valencia
There are 5 variables reoccuring across all cities; Pressure, temp, temp_max, temp_min, wind_speed


Time column has been converted to
datetime64[ns]


Univariable non-Graphical Analysis

In [ ]:
fig, axs = plt.subplots(2,5, figsize=(14,6),)
fig.subplots_adjust(hspace = 0.5, wspace=.2)
axs = axs.ravel()

for index, column in enumerate(df.columns):
    axs[index-1].set_title("{} vs. mpg".format(column),fontsize=16)
    axs[index-1].scatter(x=df[column],y=df['mpg'],color='blue',edgecolor='k')
    
fig.tight_layout(pad=1)

#### 3.1.2. Test data

In [58]:
# Data comprehension

df_test_sort = df_test[sorted(df_test)]
df_test_sort.info()
print(f"There are 5 cities; Barcelona, Bilbao, Madrid, Seville, Valencia", end="\n"
     "There are 5 variables reoccuring across all cities; Pressure, temp, temp_max, temp_min, wind_speed")
# Same as train data
print('', end="\n\n\n")

print(f"There are {df_test.isnull().sum().sum()} null values")
df_test.isnull().sum()
print('', end="\n\n")

print(f"Univariable non-Graphical Analysis")
df_test_sort.describe().T

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2920 entries, 0 to 2919
Data columns (total 47 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Barcelona_pressure    2920 non-null   float64
 1   Barcelona_rain_1h     2920 non-null   float64
 2   Barcelona_rain_3h     2920 non-null   float64
 3   Barcelona_temp        2920 non-null   float64
 4   Barcelona_temp_max    2920 non-null   float64
 5   Barcelona_temp_min    2920 non-null   float64
 6   Barcelona_weather_id  2920 non-null   float64
 7   Barcelona_wind_deg    2920 non-null   float64
 8   Barcelona_wind_speed  2920 non-null   float64
 9   Bilbao_clouds_all     2920 non-null   float64
 10  Bilbao_pressure       2920 non-null   float64
 11  Bilbao_rain_1h        2920 non-null   float64
 12  Bilbao_snow_3h        2920 non-null   int64
 13  Bilbao_temp           2920 non-null   float64
 14  Bilbao_temp_max       2920 non-null   float64
 15  Bilbao_temp_min       2920 non-null   float64
 16  Bilbao_weather_id     2920 non-null   float64
 17  Bilbao_wind_deg       2920 non-null   float64
 18  Bilbao_wind_speed     2920 non-null   float64
 19  Madrid_clouds_all     2920 non-null   float64
 20  Madrid_humidity       2920 non-null   float64
 21  Madrid_pressure       2920 non-null   float64
 22  Madrid_rain_1h        2920 non-null   float64
 23  Madrid_temp           2920 non-null   float64
 24  Madrid_temp_max       2920 non-null   float64
 25  Madrid_temp_min       2920 non-null   float64
 26  Madrid_weather_id     2920 non-null   float64
 27  Madrid_wind_speed     2920 non-null   float64
 28  Seville_clouds_all    2920 non-null   float64
 29  Seville_humidity      2920 non-null   float64
 30  Seville_pressure      2920 non-null   object
 31  Seville_rain_1h       2920 non-null   float64
 32  Seville_rain_3h       2920 non-null   float64
 33  Seville_temp          2920 non-null   float64
 34  Seville_temp_max      2920 non-null   float64
 35  Seville_temp_min      2920 non-null   float64
 36  Seville_weather_id    2920 non-null   float64
 37  Seville_wind_speed    2920 non-null   float64
 38  Valencia_humidity     2920 non-null   float64
 39  Valencia_pressure     2466 non-null   float64
 40  Valencia_snow_3h      2920 non-null   int64
 41  Valencia_temp         2920 non-null   float64
 42  Valencia_temp_max     2920 non-null   float64
 43  Valencia_temp_min     2920 non-null   float64
 44  Valencia_wind_deg     2920 non-null   object
 45  Valencia_wind_speed   2920 non-null   float64
 46  time                  2920 non-null   object
dtypes: float64(42), int64(2), object(3)
memory usage: 1.0+ MB
There are 5 cities; Barcelona, Bilbao, Madrid, Seville, Valencia
There are 5 variables reoccuring across all cities; Pressure, temp, temp_max, temp_min, wind_speed


There are 454 null values

time                      0
Madrid_wind_speed         0
Valencia_wind_deg         0
Bilbao_rain_1h            0
Valencia_wind_speed       0
Seville_humidity          0
Madrid_humidity           0
Bilbao_clouds_all         0
Bilbao_wind_speed         0
Seville_clouds_all        0
Bilbao_wind_deg           0
Barcelona_wind_speed      0
Barcelona_wind_deg        0
Madrid_clouds_all         0
Seville_wind_speed        0
Barcelona_rain_1h         0
Seville_pressure          0
Seville_rain_1h           0
Bilbao_snow_3h            0
Barcelona_pressure        0
Seville_rain_3h           0
Madrid_rain_1h            0
Barcelona_rain_3h         0
Valencia_snow_3h          0
Madrid_weather_id         0
Barcelona_weather_id      0
Bilbao_pressure           0
Seville_weather_id        0
Valencia_pressure       454
Seville_temp_max          0
Madrid_pressure           0
Valencia_temp_max         0
Valencia_temp             0
Bilbao_weather_id         0
Seville_temp              0
Valencia_humidity         0
Valencia_temp_min         0
Barcelona_temp_max        0
Madrid_temp_max           0
Barcelona_temp            0
Bilbao_temp_min           0
Bilbao_temp               0
Barcelona_temp_min        0
Bilbao_temp_max           0
Seville_temp_min          0
Madrid_temp               0
Madrid_temp_min           0
dtype: int64

Univariable non-Graphical Analysis

,count,mean,std,min,25%,50%,75%,max
Barcelona_pressure,2920.0,1015.317123,7.021445,988.333333,1012.000000,1016.000000,1019.333333,1037.000000
Barcelona_rain_1h,2920.0,0.047397,0.162474,0.000000,0.000000,0.000000,0.000000,2.300000
Barcelona_rain_3h,2920.0,0.000006,0.000217,0.000000,0.000000,0.000000,0.000000,0.009667
Barcelona_temp,2920.0,289.911289,7.119411,272.650000,284.307500,289.483333,295.816667,308.150000
Barcelona_temp_max,2920.0,290.695462,7.113599,273.816667,284.816667,290.150000,296.483333,309.483333
Barcelona_temp_min,2920.0,289.124971,7.168049,271.483333,283.483333,288.816667,295.150000,306.816667
Barcelona_weather_id,2920.0,760.473307,98.009846,207.333333,800.000000,800.000000,801.000000,804.000000
Barcelona_wind_deg,2920.0,178.979452,86.976503,0.000000,113.333333,176.666667,253.333333,343.333333
Barcelona_wind_speed,2920.0,2.518094,1.625507,0.000000,1.333333,2.000000,3.666667,12.666667
Bilbao_clouds_all,2920.0,43.355422,30.486298,0.000000,13.333333,45.000000,75.000000,97.333333
Bilbao_pressure,2920.0,1016.709132,8.773784,975.000000,1013.333333,1017.666667,1022.000000,1040.000000
Bilbao_rain_1h,2920.0,0.067517,0.153381,0.000000,0.000000,0.000000,0.000000,1.600000
Bilbao_snow_3h,2920.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Bilbao_temp,2920.0,286.522375,6.492355,268.120000,281.778333,286.265000,291.119167,308.966667
Bilbao_temp_max,2920.0,288.483641,6.221324,270.138667,284.150000,288.483333,292.816667,310.816667
Bilbao_temp_min,2920.0,284.920684,6.803424,266.483333,280.150000,284.483333,289.816667,307.483333
Bilbao_weather_id,2920.0,737.039079,106.129916,207.666667,702.000000,800.000000,802.000000,804.000000
Bilbao_wind_deg,2920.0,162.643836,97.749873,0.000000,86.666667,140.000000,233.333333,360.000000
Bilbao_wind_speed,2920.0,2.283562,1.654787,0.000000,1.000000,1.666667,3.333333,10.666667
Madrid_clouds_all,2920.0,24.255822,29.430257,0.000000,0.000000,11.333333,40.000000,92.000000
Madrid_humidity,2920.0,62.644463,24.138393,8.000000,43.000000,63.000000,84.000000,100.000000
Madrid_pressure,2920.0,1016.240411,9.624074,943.000000,1013.666667,1017.333333,1021.333333,1036.000000
Madrid_rain_1h,2920.0,0.059863,0.193218,0.000000,0.000000,0.000000,0.000000,3.000000
Madrid_temp,2920.0,287.869763,8.977511,268.713333,280.816667,286.396667,294.452500,312.223333
Madrid_temp_max,2920.0,288.888393,9.089699,269.816667,281.483333,287.483333,295.483333,313.483333
Madrid_temp_min,2920.0,286.618130,8.733163,267.816667,279.816667,285.483333,293.150000,310.150000
Madrid_weather_id,2920.0,758.820101,93.536025,262.500000,800.000000,800.000000,800.666667,804.000000
Madrid_wind_speed,2920.0,2.457820,1.774838,0.000000,1.333333,2.000000,3.333333,13.333333
Seville_clouds_all,2920.0,15.477283,25.289197,0.000000,0.000000,0.000000,20.000000,93.333333
Seville_humidity,2920.0,67.123516,20.611292,11.666667,52.000000,70.333333,85.000000,100.000000
Seville_rain_1h,2920.0,0.046164,0.193432,0.000000,0.000000,0.000000,0.000000,2.300000
Seville_rain_3h,2920.0,0.000001,0.000074,0.000000,0.000000,0.000000,0.000000,0.004000
Seville_temp,2920.0,290.746255,7.738131,272.350000,285.356667,289.540000,295.674167,314.816667
Seville_temp_max,2920.0,291.589360,7.521748,273.816667,286.150000,290.483333,296.483333,315.150000
Seville_temp_min,2920.0,290.152431,7.906915,271.150000,284.483333,289.150000,295.150000,314.483333
Seville_weather_id,2920.0,772.226294,75.727539,259.500000,800.000000,800.000000,800.333333,804.000000
Seville_wind_speed,2920.0,2.657192,1.788870,0.000000,1.333333,2.333333,3.666667,12.666667
Valencia_humidity,2920.0,64.623916,18.355766,13.000000,52.000000,65.000000,79.333333,100.000000
Valencia_pressure,2466.0,1013.148351,6.528997,973.000000,1010.666667,1014.666667,1017.666667,1021.666667
Valencia_snow_3h,2920.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Valencia_temp,2920.0,291.377796,7.113243,273.816667,285.816667,291.150000,297.150000,310.150000
Valencia_temp_max,2920.0,291.439216,7.055448,273.816667,286.150000,291.150000,297.150000,310.150000
Valencia_temp_min,2920.0,291.317184,7.176955,273.816667,285.816667,291.150000,297.150000,310.150000
Valencia_wind_speed,2920.0,3.012785,1.996340,0.000000,1.666667,2.333333,4.000000,14.333333

### 3.2. Plot relevant feature interactions

In [59]:
# Checking for Linearity

In [ ]:
# evaluate correlation

In [ ]:
# have a look at feature distributions

<a id="four"></a>
## 4. Data Engineering
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Data engineering ⚡ |
| :--------------------------- |
| In this section you are required to: clean the dataset, and possibly create new features - as identified in the EDA phase. |

---

In [ ]:
# remove missing values/ features

In [ ]:
# create new features

In [ ]:
# engineer existing features

<a id="five"></a>
## 5. Modelling
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Modelling ⚡ |
| :--------------------------- |
| In this section, you are required to create one or more regression models that are able to accurately predict the thee hour load shortfall. |

---

In [ ]:
# split data

In [ ]:
# create targets and features dataset

In [ ]:
# create one or more ML models

In [ ]:
# evaluate one or more ML models

<a id="six"></a>
## 6. Model Performance
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Model performance ⚡ |
| :--------------------------- |
| In this section you are required to compare the relative performance of the various trained ML models on a holdout dataset and comment on what model is the best and why. |

---

In [ ]:
# Compare model performance

In [ ]:
# Choose best model and motivate why it is the best choice

<a id="seven"></a>
## 7. Model Explanations
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Model explanation ⚡ |
| :--------------------------- |
| In this section, you are required to discuss how the best performing model works in a simple way so that both technical and non-technical stakeholders can grasp the intuition behind the model's inner workings. |

---

In [ ]:
# discuss chosen methods logic